{% extends "base.html" %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <h1>Stori - A Python Game</h1>
    <h3><a href="https://drive.google.com/open?id=1zPsYxTkVMwSGlDnPkNl4Bko5BDRa6Pwy">Download Stori vBeta 1.0</a></h3>
    <h4>(Links to .exe file download on GoogleDrive)</h4>
    <br>

    <iframe width="560" height="315" id='video' src="https://www.youtube.com/embed/Jrj90bA7p4o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br>
    <br>
    <h1>About Stori:</h1>
    <h4>Written in <a href="https://www.python.org/">Python 3.0</a></h4>
    <h4>Libraries and Modules:
      <a href="https://www.pygame.org/wiki/about">Pygame</a>,
      <a href="https://www.mapeditor.org/">Tiled</a>,
      <a href="https://pypi.org/project/PyTweening/">PyTweening</a>, and
      <a href="https://docs.python.org/3/library/itertools.html">Itertools</a>
    </h4>
    <h4>Frozen as .exe file in <a href="https://www.pyinstaller.org/">PyInstaller</a></h4>
    <br>
    <p>After initial study of the programming language, Python, Jonathan took interested
       in developing a major project.  He initially started with</p>
    <p>smaller projects that used
      the skills he was developing in Python and accessed them in the real world.  Jonathan
      thought that a stunning </p>
    <p>way to highlight those skills would be via a game.  Python
      programming skills he wanted to highlight with this endeavor included</p>
    <p>extensively
      using OOP (Object Oriented Programming- used to create objects in-game), lists and
      dictionaries (eg. used for "level-ups" of</p>
    <p>the character, to switch weapons , sounds, and
      functionality), while loops (the game loop itself), Boolean logic (collisions), as
      well as overall</p>
    <p>programming skills and dedication.  Jonathan thoroughly enjoyed the
      beta version creation of Stori and is excited to use Python for more</p>
    <p> real-world applications.</p>
    <br>
    <h1>Attributions:</h1>
    <p>Tiled map art and zombies: <a href="https://kenney.nl/">Kenney</a></p>
    <p>Main character art: Tekepon</p>
    <p>Music by Ove Melaa: Omsoftware@hotmail.com</p>
    <p>Tracks: Dark Loop, Tube Ambient Loop, Fanfare 3, Gameover II</p>
    <br>
    <br>

{% endblock %}
