{% extends "base.html" %}
{% block content %}
    <h1>Projects</h1>
    <br>
    <h2><a href="{% url 'game' %}">Python Game</a></h2>
    <h5>Click on "Python Game" for a complete description of the project.</h5>
    <br>
    <h2><a href="{% url 'home' %}">This Website</a></h2>
    <h5>This current website was made on Django for the backend, and a helpful template from <a href="https://codepen.io/">https://codepen.io/</a></h5>
    <br>
    <h2><a href="http://jonathanovery.pythonanywhere.com/">Original Website</a></h2>
    <h5>An earlier version of this website, coded 100% by Jonathan</h5>
    <br>
    <br>
    <br>



{% endblock %}
